nav {
    display: flex;
    justify-content: right;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: #5C9EAD;
    z-index: 100;
}

.logo-container {
    position: fixed;
    left: 20px;
    display: flex;
    align-items: center;
    height: 10vh;
}

.header-logo {
    height: 50%;
    padding: 8px 20px;
    border: white solid 2px;
    border-radius: 10px 0 10px 0;
}

#check {
    display: none;
}

.ham-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.hamburger {
    display: none;
    height: 60%;
    margin: 0 20px;
    cursor: pointer;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li {
    margin: 0 20px;
    padding: 10px;
    list-style-type: none;
}

ul li a {
    white-space: nowrap;
    color: white;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s;
    cursor: pointer;
}

ul li a:hover {
    color: #d1e9ee;
}

.join-header {
    border: white solid 2px;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s;
}

.join-header:hover {
    color: #5C9EAD;
    background-color: white;
}

@media (min-width: 700px) and (max-width: 850px) {
    nav {
        height: 15vh;
    }

    ul li {
        margin: 0 10px;
    }

}

@media (max-width: 700px) {
    nav {
        height: 15vh;
    }
    
    .hamburger {
        display: block;
    }

    ul {
        display: none;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 15vh;
        left: 0;
        width: 100%;
        height: 85vh;
        background-color: #5C9EAD;
        border-top: white solid 2px;
        font-size: 20px;
    }

    ul li {
        margin: 20px;
    }

    #check:checked ~ ul {
        display: flex;
    }
}