nav {
    display: flex;
    justify-content: right;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: pink;
}

#check {
    display: none;
}

.ham-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.hamburger {
    display: none;
    height: 80%;
    margin: 0 20px;
    cursor: pointer;
}

.logo {
    position: fixed;
    left: 20px;
    color: white;
    font-size: 25px;
    font-weight: 500;
}