nav {
    display: flex;
    justify-content: right;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: pink;
}

#check {
    display: none;
}

.ham-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.hamburger {
    display: none;
    height: 80%;
    margin: 0 20px;
    cursor: pointer;
}

.logo {
    position: fixed;
    left: 20px;
    color: white;
    font-size: 25px;
    font-weight: 500;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li {
    margin: 0 20px;
    padding: 10px;
    list-style-type: none;
    cursor: pointer;
}

ul li a {
    white-space: nowrap;
    color: white;
    text-decoration: none;
}

@media (max-width: 700px) {
    .hamburger {
        display: block;
    }

    ul {
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 10vh;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #5C9EAD;
        border-top: white solid 2px;
        opacity: 0;
    }

    ul li {
        margin: 20px;
    }

    #check:checked ~ ul {
        opacity: 100%;
    }
}