#instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0;
    right: 0;
    margin-bottom: 100px;
}

.subtitle {
    color: #471AA0;
    text-align: center;
    font-size: 40px;
}

.instructions-underline {
    width: 300px;
    height: 5px;
    background-color: #471AA0;
    margin: 26px auto;
}

.instructions-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.instructions-grid img {
    width: 20%;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #5C9EAD;
}

.grid-item h1 {
    padding: 30px 0;
    color: #6C8EAD;
    font-weight: 500;
}

.join-button {
    display: inline-block;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    border-color: #DB8A74;
    color: #DB8A74;
    transition: color 0.3s, border-color 0.3s, background-color 0.3s, cursor 0s;
}

.join-button:hover {
    color: white;
    border-color: #DB8A74;
    background-color: #DB8A74;
    cursor: pointer;
}