#login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 200px 0;
}

.login-grid {
    display: grid;
    grid-template-rows: repeat(auto, 8);
    align-items: center;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px rgba(91, 91, 91, 0.141);
    row-gap: 10px;
    margin-bottom: 20px;
}

.login-grid h1 {
    font-size: 40px;
    color: #471AA0;
}

.login-grid p {
    font-size: 16px;
    color: #471AA0;
    margin-bottom: 15px;
}

.login-grid input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 16px;
}

.password {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.password input {
    flex: 2;
}

.password button {
    margin-left: 10px;
    background-color: white;
    color: #5C9EAD;
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
}

.forgot {
    color: #5C9EAD;
    cursor: pointer;
    margin-top: 15px;
}

.login-button-container {
    display: flex;
    text-decoration: none;
}

.login-button {
    width: 100%;
    padding: 15px;
    border: 2px solid #5C9EAD;
    border-radius: 10px;
    font-size: 16px;
    background-color: white;
    color: #5C9EAD;
    transition: color, background-color, 0.3s;
    cursor: pointer;
}

.login-button:hover {
    color: white;
   background-color: #5C9EAD;
}

.or-section {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
    margin-top: 40px;
}

.or-text {
    text-align: center;
    color: #471AA0;
}

.login-bar {
    height: 2px;
    background-color: #471AA0;
}

.logo-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-section img {
    height: 40px;
    margin: 30px 20px 10px 20px;
    cursor: pointer;
}

.login-new {
    color: #5C9EAD;
}

.login-new a {
    text-decoration: none;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li {
    margin: 0 20px;
    padding: 10px;
    list-style-type: none;
    cursor: pointer;
}

ul li a {
    white-space: nowrap;
    color: white;
    text-decoration: none;
}

@media (max-width: 700px) {
    .hamburger {
        display: block;
    }

    ul {
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 10vh;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #5C9EAD;
        border-top: white solid 2px;
        opacity: 0;
    }

    ul li {
        margin: 20px;
    }

    #check:checked ~ ul {
        opacity: 100%;
    }
}