#support {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
    top: 10vh;
    height: 130vh;
    width: 100%;
}

.heading {
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    text-align: center;
    margin: 30px 0;
    width: 100%;
}

.opening-header {
    color: white;
    background-color: #471AA0;
    padding: 10px;
    margin-bottom: 50px;
    font-size: 20px;
}

.opening-text {
    color: #6C8EAD;
    padding: 5px;
}

.graphic {
    flex: 3;
    display: grid; 
    grid-template-rows: auto 1fr;
    width: 100%;
    margin-bottom: 15vh;
}

.title-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 20px;
}

.support-title {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 5px;
}

.graphic-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 20px;
}

/* Left side */
.support-graphic-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 0;
}

.support-reqs-row {
    display: flex;
    align-items: center;
    padding: 10px;
    min-height: 50px;
    color: white;
    background-color: #DB8A74;
    border-radius: 0 0 0 10px;
}

/* Right side */
.support-graphic-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.check-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    padding: 10px;
}

.check-icon {
    width: 50px;
    padding: 5px;
    border-radius: 50%;
    background-color: white;
}

.service {
    flex: 1;

    background-color: rgb(23, 0, 195);
}

.therapy {
    flex: 1;

    background-color: rgb(170, 160, 245);
}

.emotional-support {
    flex: 1;

    background-color: rgb(255, 17, 17);
}

@media (min-width: 700px) and (max-width: 850px) {
    #support {
        top: 15vh;
    }
}

@media (max-width: 700px) {
    #support {
        top: 15vh;
        height: 200vh;
    }

    .title-container {
        font-size: 14px;
        padding: 0 10px;
        grid-template-columns: 1fr 2fr;
    }

    .graphic-container {
        font-size: 14px;
        padding: 0 10px;
        grid-template-columns: 1fr 2fr;
    }

    .check-icon {
        width: 30px;
    }
}