#support {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 200px;
}

.graphic-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
}

.heading {
    display: grid;
    grid-template-rows: auto auto;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 30px;
    width: 100%;
}

.opening-header {
    color: white;
    background-color: #471AA0;
    padding: 10px;
    margin-bottom: 50px;
    font-size: 20px;
}

.opening-text {
    color: #6C8EAD;
}

/* Left side */
.support-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 10px;
}

/* Right side */
.support-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 10px;
}

.support-graphic {
    display: grid;
    grid-template-rows: auto auto;
    padding: 15px;
    row-gap: 10px;

    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 235, 235);
    border-radius: 10px;

    z-index: 1;
}

.support-graphic p {
    font-size: 16px;
    font-weight: 500;
}

.graphic-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Graphic left side */
.support-graphic-left {
    flex: 1;
    flex-shrink: 0;
    height: 553.4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.support-reqs {
    flex: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 270px;
}

.support-reqs-row {
    flex: 1;
    flex-shrink: 0;
    background-color: #DB8A74;
    color: white;
    display: inline-block; 
    padding: 8px;
    margin: 10px 0;
    border-radius: 0 0 0 15px;
}

.title-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.support-title {
    display: flex;
    align-items: center;
    text-align: center;
}

/* Graphic right side */
.support-graphic-right {
    flex: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.support-check {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.check-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: white;
    border-radius: 10px;
}

.check-x {
    display: block;

    width: 50px;
    margin: 10px;
    padding: 5px;
    border-radius: 50%;
    background-color: white;
}

.service {
    flex: 1;

    background-color: rgb(23, 0, 195);
}

.therapy {
    flex: 1;

    background-color: rgb(170, 160, 245);
}

.emotional-support {
    flex: 1;

    background-color: rgb(255, 17, 17);
}

