#testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: 100px;
}

.testimonials-title {
    width: 100%;
    background-color: #471AA0;
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 20px 0;
    margin-bottom: 40px;
}

.testimonials-grid {
    display: flex;
    width: 100%;
    color: #6C8EAD;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.grid-column {
    flex: 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 0 10px;
    row-gap: 20px;
    border: 2px solid #DB8A74;
    border-radius: 10px;
    max-width: 305px;
}

.grid-top {
    padding: 10px;
}

.grid-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.profile-pic {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    object-fit: cover;
}

.grid-bottom p {
    font-size: 18px;
    font-weight: 500;
    color: #DB8A74;
}

.icon-quote {
    height: 50px;
}

@media (min-width: 700px) and (max-width: 900px) {
    .testimonials-grid {
        flex-direction: column;
    }

    .grid-column {
        margin: 30px 0;
    }
}

@media (max-width: 700px) {
    .testimonials-grid {
        flex-direction: column;
    }

    .grid-column {
        margin: 30px 0;
    }

}